<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.mapper.pf.TalentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.code.entity.pf.Talent">
        <id column="id" property="talentId" />
        <result column="talent_name" property="talentName" />
        <result column="password" property="password" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        t.id as talentId,
        t.talent_name as talentName,
        t.password as password,
        t.avatar as avatar,
        t.gender as gender,
        t.birth_time as birthTime,
        t.wechat as wechat,
        t.native_place as nativePlace,
        t.address as address,
        t.mobile as mobile,
        t.email as email,
        t.status as status,
        t.create_time as createTime,
        t.lmt as lmt
    </sql>

    <!-- 通用查询条件 -->
    <sql id="BaseWhere">
        <where>
            <if test="talentName != null and talentName != ''">
                and t.talent_name like CONCAT('%',#{talentName},'%')
            </if>
            <if test="creatTimeFrom != null and creatTimeFrom != '' and creatTimeTo != null and creatTimeTo != ''">
                and t.create_time BETWEEN #{creatTimeFrom} AND #{creatTimeTo}
            </if>
        </where>
    </sql>

    <!-- 分页查询 -->
    <select id="selectPageList" resultType="com.code.entity.pf.Talent">
        SELECT
            sd.`value` as statusName,
            sd2.`value` as genderName,
            <include refid="BaseColumnList"/>
        FROM
            `pf_talent` as t
            LEFT JOIN sys_dict sd ON sd.`key` = t.status AND sd.type = 'system_status' AND sd.`status` = 0
            LEFT JOIN sys_dict sd2 ON sd2.`key` = t.gender AND sd2.type = 'system_gender' AND sd2.`status` = 0
            <include refid="BaseWhere"/>
        ORDER BY
            t.create_time DESC
    </select>

    <!-- 查看详情 -->
    <select id="selectById" resultType="com.code.entity.pf.Talent">
        SELECT
            sd.`value` as statusName,
            sd2.`value` as genderName,
            <include refid="BaseColumnList"/>
        FROM
            `pf_talent` as t
            LEFT JOIN sys_dict sd ON sd.`key` = t.status AND sd.type = 'system_status' AND sd.`status` = 0
            LEFT JOIN sys_dict sd2 ON sd2.`key` = t.gender AND sd2.type = 'system_gender' AND sd2.`status` = 0
        WHERE
            t.id=#{talentId}
    </select>

    <!-- 查看详情 -->
    <select id="selectByName" resultType="com.code.entity.pf.Talent">
        SELECT
            sd.`value` as statusName,
            t.password as password,
            <include refid="BaseColumnList"/>
        FROM
            `pf_talent` as t
            LEFT JOIN sys_dict sd ON sd.`key` = t.status AND sd.type = 'system_status' AND sd.`status` = 0
        WHERE
            t.talent_name=#{talentName}
    </select>

    <!-- 查看详情 -->
    <select id="selectByMobile" resultType="com.code.entity.pf.Talent">
        SELECT
            sd.`value` as statusName,
            <include refid="BaseColumnList"/>
        FROM
            `pf_talent` as t
            LEFT JOIN sys_dict sd ON sd.`key` = t.status AND sd.type = 'system_status' AND sd.`status` = 0
        WHERE
            t.mobile=#{mobile}
    </select>

    <!-- 状态变更  -->
    <update id="updateStatus" >
        UPDATE pf_talent t
        SET t.`status` = ABS( t.`status` - 1 )
        WHERE
            t.id = #{talentId}
    </update>

    <!-- 通过项目Id获取人才列表 -->
    <select id="selectListByProjectId" resultType="com.code.entity.pf.Talent">
        SELECT
            sd.`value` as statusName,
            ppt.create_time as applyTime,
            ppt_sd.`value` as applyStatusName,
            <include refid="BaseColumnList"/>
        FROM
            `pf_talent` as t
            LEFT JOIN sys_dict sd ON sd.`key` = t.status AND sd.type = 'system_status' AND sd.`status` = 0
            LEFT JOIN pf_apply ppt ON ppt.talent_id = t.id
            LEFT JOIN sys_dict ppt_sd ON ppt_sd.`key` = ppt.status AND ppt_sd.type = 'pf_apply_status' AND ppt_sd.`status` = 0
        WHERE
              ppt.project_id = #{projectId}
        ORDER BY
            t.create_time DESC
    </select>

</mapper>
